body {
    text-align: center;
    /* background-image: url("https://media.tenor.com/ji5Mpqf8APoAAAAC/kikis-delivery-service-grass.gif"); */
    /* min-height: 100%; */
    /* background-size: cover; */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
}

h1 {
    font-size: 60px;
    font-family: monospace;
    color: #58abba;
    margin: 20px auto;
}

.gameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 20px auto;
    color: #58abba;
}

.cell {
    font-family: monospace;
    font-size: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 100px;
    border: 2px solid #e2e267;
}
.gameStatus {
    font-size: 50px;
    color: #58abba;
    margin: 20px auto;
}

.restartBtn {
    background-color: #58abba;
    font-size: 30px;
    font-family: monospace;
    color: #e2e267;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: 5px solid #58abba;
    box-shadow: 2px 2px 2px 2px #0f0f10
    

}