body {
    text-align: center;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4d94eabf-4257-437f-a08d-5ee63b69705f/ddj4ebw-d3292465-fc61-4fec-acb4-c36bbba2b475.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkOTRlYWJmLTQyNTctNDM3Zi1hMDhkLTVlZTYzYjY5NzA1ZlwvZGRqNGVidy1kMzI5MjQ2NS1mYzYxLTRmZWMtYWNiNC1jMzZiYmJhMmI0NzUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xFs_R_kiojU_Or58ZknRJhfhfxVrKYW8aWN3RZR7RyM");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 60px;
    font-family: monospace;
    color: white;
    margin: 20px auto;

}

.gameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 20px auto;
    color: white;
}

.cell {
    font-family: monospace;
    font-size: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 100px;
    border: 2px solid white;
}
.game-status {
    font-size: 50px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 20px auto;
}

.restartBtn {
    background-color: #000000;
    font-size: 30px;
    font-family: monospace;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px white;

}

audio {
    width: 40%;
    margin: 0 auto;
    display: table;
}